name: Build and Push Prime V1 Indexer Docker Image

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

env:
  ECR_REPOSITORY: prime-v1-indexer
  CI: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: "Configure AWS Credentials"
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_GITHUB_ACTION_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: "Login to Amazon ECR"
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v3

      - name: "Build and push Docker image"
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ env.ECR_REPOSITORY }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  update-image-tags:
    name: Update Prime V1 Indexer image tag
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Update Prime V1 Indexer image tag
        uses: morpho-org/update-infra-image-tag@v4
        with:
          app_id: ${{ secrets.INFRA_DEPLOYER_APP_ID }}
          app_private_key: ${{ secrets.INFRA_DEPLOYER_SECRET_KEY }}
          environments: main
          target_chart: prime-v1-indexer
          commit_sha: ${{ github.sha }}
